<header>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="search-panel">
          <mat-form-field>
            <input matInput type="text" placeholder="Search ..." [(ngModel)]="searchTerm">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="filters">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="filters__box">
          <div class="filters__item">
            <mat-form-field>
              <mat-label>Filter by artist:</mat-label>
              <mat-select [(ngModel)]="activeFilter">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let artist of artists$ | async" value="{{artist}}">
                  <span class="filters__name">{{artist}}</span>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="filters__item">
            <mat-form-field>
              <mat-label>Sort by:</mat-label>
              <mat-select [(ngModel)]="activeSort">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let option of sort" [value]="option">
                  <span class="filters__name filters__name--type">{{option.name}} </span>
                  <span class="filters__name filters__name--order">{{option.order}}</span>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="filters__item filters__item--clear">
            <button mat-raised-button color="accent" (click)="clear()">Clear</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="songs">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="songs__list" *ngIf="(playlist$ | async) as playlist; else loading">
          <div class="songs__item"
               *ngFor="let song of playlist.tracks.data | search: searchTerm | filter: activeFilter | sort: activeSort">
            <p class="songs__name">{{song.title}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #loading>
  <div class="loader"></div>
</ng-template>
